<html>
<head>
	<title>Welcome User</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1 style = "text-align: center">Welcome <%= username%> </h1>
</body>
</html>